.portfolio button, input[type="button"] {
    -webkit-appearance: button;
    background-color: #808080;
    border: none;
    border-bottom: 4px solid #000;
    color: #fff;
    cursor: pointer;
    border-radius: 0;
    font-weight: 700;
    padding: 10px 20px;
    text-transform: uppercase;
}
.portfolio button:hover, .portfolio button:focus {
    background-color: rgba(51, 51, 51, 0.7);
    border-color: #AD2929;
    outline: none;
}

.item {
    width: 25%;
    float: left;
    overflow: hidden;
}
.item a, .item-title a{
    text-decoration: none;
}
.item img {
    width: 100%;
}
.portfolio-filter {
    display: table;
    margin: auto;
    margin-bottom: 20px;
}
/* image effect
------------------------------- */
.effect-oscar {
    background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
    background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
}

.effect-oscar img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

.effect-oscar figcaption {
    padding: 3em;
    background-color: rgba(58,52,42,0.7);
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}

.effect-oscar figcaption::before {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 1px solid #fff;
    content: '';
}

.effect-oscar h2 {
    margin: 20% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.effect-oscar figcaption::before,
.effect-oscar .item-link a {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.effect-oscar:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.effect-oscar .item-link {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
   
}
.effect-oscar .item-link a {
    border: 1px solid transparent;
    border-radius: 100%;
    border: 1px solid #f1c152;
    width: 30px;
    height: 30px;
    display: block;